/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/* main */
html {
  min-height: 100vh; /* sticky footer */
  scroll-behavior: smooth;
}

body {
  background-color: #272727;
  min-height: 100vh; /* sticky footer */
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  /* text styles */
  /* font-family: ;
  font-size: ;
  line-height: ; 
  color: ;*/
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0; /* sticky footer */
}

body.active {
  overflow: hidden;
}

/* if this sections will position:relative */
/* section,
header,
main,
footer{
   position: relative;
   overflow: hidden;
} */
/* Grid styles */
.container {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* turn off yellow background for input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

/* media adaptive for examples */
/* Tablet */
/* @media (max-width: 1199px) {
   width: 900px;
} */
/* Mobile */
/* @media (max-width: 899px) {
   width: 768px;
} */
/* Mobile XS */
/* @media (max-width: 767px) {
   width: 320px;
}  */
/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* off yellow background input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #8f8d8d;
  -webkit-text-fill-color: #161616;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/* Sticky Footer */
.footer {
  margin-top: auto; /* sticky footer */
}

.header {
  padding-top: 32px;
  background-color: #636262;
  padding-bottom: 16px;
}
@media (max-width: 714px) {
  .header .container {
    display: none;
  }
}
.header .header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: px;
}
.header .presets-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header .preset-btn {
  background-color: rgb(172, 88, 88);
}
.header .form {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.header .form__submit {
  height: 40px;
  width: 50px;
  background-color: rgb(200, 201, 200);
  display: inline-block;
  background-image: url(../../img/lypa.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.header .form__search {
  height: 40px;
  background-color: rgb(200, 201, 200);
}
.header .burger {
  width: 36px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  transition: 300ms;
}
.header .burger__line {
  width: 36px;
  height: 4px;
  background-color: white;
  transition: transform 0.3s;
}
.header .burger.active {
  transform: translateX(35%);
}
.header .burger.active .burger__line--first {
  transform: rotate(45deg) translateY(14px);
}
.header .burger.active .burger__line--second {
  transform: scale(0);
}
.header .burger.active .burger__line--third {
  transform: rotate(-45deg) translateY(-14px);
}
.header .header__mobile-menu {
  display: none;
}
.header .header__mobile-menu-list {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(27, 26, 23, 0.897);
  transition: top 500ms ease-in-out;
}
.header .header__mobile-menu-list .header__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 64px;
}
.header .header__mobile-menu-list .header__menu .header__menu-link {
  margin-right: 0;
}
.header .header__mobile-menu-list.active {
  top: 0;
  transition: top 500ms ease-in-out;
}

.gallery {
  padding-top: 16px;
}

.gallery__content {
  display: flex;
  justify-content: center;
}

.gallery__row {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 16px;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.gallery__item {
  max-width: 300px;
  min-height: 450px;
  border: 2px solid pink;
}/*# sourceMappingURL=main.css.map */